<%-include(`include/_header`); -%>

<main class="main">
  <div class="container">
    <%-include(`include/_form`); -%> <%-include(`include/_result`); -%>

    <section class="features">
      <header class="features-heading">
        <h2 class="heading">Advanced Statistics</h2>
        <p class="paragraph features-paragraph">
          Track how many people clicked on your link.
        </p>
      </header>
    </section>
  </div>
  <section class="boost-card">
    <h2 class="heading">Generate your links today</h2>
    <button class="btn cta"><a href="#fof">Get Started</a></button>
  </section>
</main>

<%-include(`include/_footer`); -%>
