<footer class="footer">
    <div class="container">
      <img src="./images/logo-footer.svg" alt="">

      <section class="inner-section">
        <section class="footer-links">
        <div class="footer-lists">
          <h2 class="footer-heading">Features</h2>
          <ul class="lists">
            <li class="list"><a href="/abc"> Archive</a></li>
            <li class="list"><a href="#">Branded Links</a></li>
            <li class="list"><a href="#">Analytics</a></li>
          </ul>
        </div>

        <div class="footer-lists">
          <h2 class="footer-heading"><a href="#">Resources</a></h2>
          <ul class="lists">
            <li class="list"><a href="https://vikkysingh.netlify.app/">Portfolio</a></li>
            <li class="list"><a href="https://github.com/vikky-10">Developers</a></li>
            <li class="list"><a href="#">Support</a></li>
          </ul>
        </div>

        <div class="footer-lists">
          <h2 class="footer-heading">Company</h2>
          <ul class="lists">
            <li class="list"><a href="#">About</a></li>
            <li class="list"><a href="#">Our Team</a></li>
            <li class="list"><a href="#">Careers</a></li>
            <li class="list"><a href="#">Contact</a></li>
          </ul>
        </div>
      </section>

      <section class="socials">
        


     <a href="https://github.com/vikky-10"> <i style="margin-left: 10px;padding: 10px;" class="fab fa-github fa-lg"></i></a> 
     <a href="https://www.instagram.com/_vikkysingh/">  <i   style="margin-left: 10px;padding: 10px;"   class="fab fa-instagram  fa-lg "></i></a> 
     <a href="https://www.linkedin.com/in/vikky-10/"><i   style="margin-left: 10px;padding: 10px;" class="fab fa-linkedin-in  fa-lg "></i></a> 

      </section>
      </section>
      
    </div>
  </footer>

  <div class="attribution">
    
     Code with ❤️ by Vikky Singh.
  </div>
  <script src="/js/script.js"  ></script>
</body>
</html>
