<section>
  <form id="fof" action="/" method="POST" class="form">
    <div class="form-inner">
      <input
        required
        placeholder="Shorten a link here..."
        type="url"
        name="fullUrl"
        id="fullUrl"
        class="search-input"
      />

      <button
        id="srink"
        class="btn shorten-btn"
        id="search-input"
        type="submit"
      >
        Shrink
      </button>
    </div>
  </form>
</section>
